.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    background: #2f2e2e;
}

.footer__content span{
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: capitalize;
}




