.navbar{
    align-items: center;
    background: #2f2e2e;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    column-gap: 24px;
    height: 60px;
}

.navbar__item{
    list-style: none;
}

.navbar__item a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}